
<% #customer jump button %>

<div class="btn">
    <a href="#customers">Customers</a>
</div>

<% #about us landing %>

<div id="customers"><h1> Customers </h1></div>

<div class="btn">
  <a href="#about_us">About Us</a>
</div>

#about us landing
<div class="jumbotron" id="about_us">
  <div>
  <h1> About Us </h1>
 </div>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
