<% # Jumbotron %>

<div class="jumbotron">
  <div class="container">
  <h1>Home page</h1>
  <p>...</p>
  <p>

  </p>
  </div>

<% #customer jump button %>

  <div class="btn">
    <a href="#customers">Customers</a>
  </div>
</div>

<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>

<% #about us landing %>

<div id="customers"><h1> Customers </h1></div>

<div class="btn">
  <a href="#about_us">About Us</a>
</div>
</div>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1><h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>

#about us landing
<div id="about_us"><h1> About Us </h1></div>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
<h1>0uoisdflkj</h1>
