<!DOCTYPE html>
<html>
  <head>
    <title>First</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="jumbotron">
      <div class="container">
      <h1>Home page</h1>
      <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><a href="#about_us">Left</a></button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default"><a class="transparent" href="/customers">Sign in</a></button>
</div>
      </div>
    </div>

  </head>

  <body>
    <%= yield %>

  </body>
</html>
